@font-face {
    font-family: 'Arabic UI Display';
    src: url('fonts/ArabicUIDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arabic UI Display';
    src: url('fonts/ArabicUIDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}